<div class="container jumbotron filtrar">
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="h2 titulo-joyas">Acerca de Food App</p>
                <hr class="separator">
            </div>
    </div>
    <div class="row mt-5">
        <img class="card-img-top col-xs-12 col-sm-12 col-md-4 col-lg-4" src="../../../assets/1.jpg" alt="Card image cap">
        <p class="h5 mt-5 text-justify col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    Food App es una compleja antología alimentaria, que te permitirá comprender
                    las relaciones entre ingredientes, recetas, nutrición y más. 
                    Analizamos las busquedas de alimentos o recetas para proporcionarte información 
                    nutricional de lo que desees. Con esta información 
                    puedes encontrar recetas individuales o planes de comidas completas que 
                    satisfagan tus objetivos dietéticos.
        </p>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="h3 about">Equipo Directivo</p>
             <hr class="separator">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <img class="circle" src="../../../assets/pao.jpg" alt="">
            <p class="h2">Paola Miramontes</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <img class="circle" src="../../../assets/mary.jpg" alt="">
            <p class="h2">María Dueñas</p>
        </div>
    </div>
</div>
