<nav class="navbar navbar-expand-lg navbar-dark bg-dark posicion">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="../../assets/comida-sana.png" width="40" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['recetas']">Recetas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['ingredientes']">Ingredientes</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mis Recetas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['mis-recetas']">Spoonacular</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['mis-recetasE']">Edamam</a>
                </div>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">Acerca de</a>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar con Edamam..." aria-label="Buscar" #buscartexto (keyup.enter)=buscar(buscartexto.value)>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscar(buscartexto.value)">Recetas</button>
            <button class="btn btn-outline-success ml-1 my-2 my-sm-0" type="submit" (click)="buscar2(buscartexto.value)">Alimentos</button>
        </div>

    </div>
</nav>