<div *ngIf="recetas.length > 0; else elseBlock">
    <div class="container" *ngIf="recetas; else loading">
        <div *ngIf="recetas.length > 0; else elseBlock"></div>
        <div class="row filtrar">
            <div class="col">
                <p class="titulo-joyas">Recetas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <ngb-alert style="display: none;" id="uno" type="info" (close)="cerrar('uno')">Se elimino la receta</ngb-alert>
                <div class="card-columns">
                    <div class="card text-center" style="width: 18rem;" *ngFor="let receta of recetas">
                        <a [routerLink]="['/receta-spoonacular',receta.id_receta]">
                            <img class="card-img-top receta" [src]="receta.image" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{receta.title}}</strong></h5>
                            <p class="card-text">{{receta.creditsText}}</p>
                            <a class="btn btn-outline-primary" (click)="eliminar(receta.id)">Eliminar de mis recetas</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="mt-5 pt-5">
        <div class="alert alert-info">No haz agregado recetas, regresa cuando hayas terminado de explorar la palicación c:</div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="row text-center mt-5 pt-5">
        <div class="col">
            <i class="fas fa-sync-alt fa-5x fa-spin"></i>
        </div>
    </div>
</ng-template>