<div class="container filtrar">
    <ngb-alert id="uno" type="danger" (close)="cerrar('uno')">Algunos de los campos no han sido llenados o estan incorrectos revisalos otra vez</ngb-alert>
    <ngb-alert id="dos" type="success" (close)="cerrar('dos')">Se registraron los datos correctamente</ngb-alert>
    <ngb-alert id="cuatro" type="danger" (close)="cerrar('cuatro')">Revisa la fecha que introduciste</ngb-alert>
    <div class="row" *ngIf="user; else loading">
        <div class="col-md-3 col-lg-3" *ngIf="this.estado!='1'"></div>
        <div class="col" *ngIf="this.estado=='1'">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="table-success">
                            <th scope="col" colspan="5" class="text-center">Perfil de Usuario</th>
                            <th scope="col" class="text-center">
                                <button type="button" class="btn btn-secondary" (click)="editUser()"><i class="far fa-edit"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">

                                <img src="{{ user.imagen }}" height="200" width="200" style="border-radius: 50%">
                                <p>Imagen por la api de la NASA</p>
                                <small>Fecha de nacimiento antes de <br> 1995-06-16 se toma como año 2019</small>
                            </td>
                            <th>Nombre</th>
                            <td colspan="5">{{user.nombre}} {{user.apepat}} {{user.apemat}}</td>
                        </tr>
                        <tr>
                            <th colspan="1">Correo</th>
                            <td colspan="2">{{user.email}}</td>
                            <th colspan="1">Fecha de nacimiento</th>
                            <td colspan="2">{{user.fecha_nac | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="this.estado=='2'">

            <div class="card-body">
                <form (ngSubmit)="editUsuario(editUserForm.value)" class="mt-4" [formGroup]="editUserForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Juan" required>
                    </div>
                    <div class="form-group form-row">
                        <div class="col">
                            <label for="exampleInputEmail1">Apellido paterno</label>
                            <input type="text" class="form-control" formControlName="apepat" placeholder="Muñoz" required>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Apellido materno</label>
                            <input type="text" class="form-control" formControlName="apemat" placeholder="López" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Fecha de nacimiento</label>
                        <input type="date" class="form-control" formControlName="fecha_nac" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Guardar Datos</button>
                    </div>
                </form>
                <button type="button" class="btn btn-secondary" (click)="regresar()">Regresar</button>
            </div>

        </div>

    </div>
</div>

<ng-template #loading>
    <div class="row text-center mt-5 pt-5">
        <div class="col">
            <i class="fas fa-sync-alt fa-5x fa-spin"></i>
        </div>
    </div>
</ng-template>